In [364]:
import pandas as pd
import numpy as np

In [372]:
mdf = pd.read_csv('../../data/raw/meteo_weather.csv')
fdf = pd.read_csv('../../data/cleaned/wildfire.csv')

In [373]:
mdf.drop(columns='Unnamed: 0', inplace=True)

In [374]:
mdf.head()

,time,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun,lat,long,id,index,station
0,2020-07-22,35.4,30.0,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.195810,-111.348700,0,NaN,NaN
1,2020-07-23,30.6,27.0,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.195810,-111.348700,0,NaN,NaN
2,2020-07-19,25.9,14.4,35.6,0.0,NaN,NaN,8.0,NaN,1013.1,NaN,40.602563,-115.719777,1,NaN,NaN
3,2020-07-20,26.3,13.3,35.6,0.0,NaN,NaN,5.7,NaN,1012.4,NaN,40.602563,-115.719777,1,NaN,NaN
4,2020-07-21,25.3,15.0,33.9,0.0,NaN,359.0,9.0,NaN,1010.6,NaN,40.602563,-115.719777,1,NaN,NaN

In [375]:
no_dubs = mdf.drop_duplicates(subset='id', keep='first')

In [376]:
no_dubs.shape

(12191, 16)

In [377]:
no_dubs.set_index('id', inplace=True)

In [383]:
no_dubs.head()

,time,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun,lat,long,index,station
id,,,,,,,,,,,,,,,
0,2020-07-22,35.4,30.0,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.195810,-111.348700,NaN,NaN
1,2020-07-19,25.9,14.4,35.6,0.0,NaN,NaN,8.0,NaN,1013.1,NaN,40.602563,-115.719777,NaN,NaN
3,2020-10-28,-0.8,-12.2,8.3,0.0,0.0,NaN,3.8,NaN,1026.2,NaN,40.227700,-109.703169,NaN,NaN
5,2020-10-15,22.2,11.1,32.2,0.0,NaN,23.0,14.4,NaN,1013.6,NaN,35.405720,-113.770800,NaN,NaN
6,2020-06-20,20.0,5.6,30.6,0.0,NaN,NaN,10.2,NaN,1007.0,NaN,35.625560,-108.839200,NaN,NaN

In [378]:
fdf.shape

(21541, 19)

In [381]:
tdf = fdf.merge(no_dubs, how='left', left_index=True, right_index=True)

In [387]:
tdf.isnull().sum()

X                              0
Y                              0
ContainmentDateTime            0
ControlDateTime                0
DailyAcres                     0
DiscoveryAcres                 0
FireCause                      0
FireDiscoveryDateTime          0
IncidentTypeCategory           0
IncidentTypeKind               0
InitialLatitude                0
InitialLongitude               0
IrwinID                        0
LocalIncidentIdentifier        0
POOCounty                      0
POODispatchCenterID            0
POOFips                        0
POOState                       0
UniqueFireIdentifier           0
time                        9350
tavg                        9424
tmin                        9350
tmax                        9350
prcp                       11194
snow                       19550
wdir                       10995
wspd                        9904
wpgt                       21541
pres                       10751
tsun                       21541
lat                         9350
long                        9350
index                      21541
station                    21541
dtype: int64

In [384]:
res_i = []
for x in fdf.index:
  if x not in no_dubs.index:
    res_i.append(x)

In [386]:
len(fdf.loc[res_i])

9350